@import './styles/_fonts.scss';
@import './styles/_colors.scss';

.text {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

// Colors
.inherit-color {
	color: inherit;
}

.white {
	color: $white;
}

.offwhite {
	color: $offwhite;
}

.lighter-grey {
	color: $lightergrey;
}

.light-grey {
	color: $lightgrey;
}

.grey {
	color: $grey;
}

.dark-grey {
	color: $darkgrey;
}

.darker-grey {
	color: $darkergrey;
}

.almost-black {
	color: $almostblack;
}

.black {
	color: $black;
}


// Font
.inherit-font {
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	text-transform: inherit;
}

.light,
.all-caps-light {
	font-weight: 300;
}

.regular,
.all-caps-regular {
	font-weight: 500;
}

.bold,
.all-caps-bold {
	font-weight: 700;
}

.all-caps-light,
.all-caps-regular,
.all-caps-bold {
	text-transform: uppercase;
}


// Size
.inherit-size {
	font-size: inherit;
}

.default {
	font-size: 1rem;
}

.small {
	font-size: .8rem;
}

.medium {
	font-size: 1.4rem;
}

.large {
	font-size: 2rem;
}

.heading-1 {
	font-size: 2.4rem;
}

.heading-2 {
	font-size: 2rem;
}

.heading-3 {
	font-size: 1.8rem;
}

.heading-4 {
	font-size: 1.4rem;
}

.heading-5 {
	font-size: 1rem;
}