.heading {
	display: block;
	line-height: 1.6;
}

.heading-1,
.heading-1-light {
	letter-spacing: 0;
	line-height: 1.12;
}

.heading-2,
.heading-2-light {
	letter-spacing: 0;
	line-height: 1.14;
}

.heading-3,
.heading-3-light {
	letter-spacing: 0;
	line-height: 1.125;
}

.heading-4,
.heading-4-light {
	letter-spacing: 0;
	line-height: 1.2;
}

.heading-5,
.heading-5-light {
	letter-spacing: 0;
	line-height: 1.25;
}
